
  <div class="bv-section-arrival bg--light" id="arrival" >

    <div class="harvey {% cycle '', ' harvey--swap' %} bv-boxpad--lg">

      <div class="harvey__img" style="background-image: url('{{site.img}}/content/anreise/transavia.jpg');">
        <div class="bv-badge-arrival title title--sm text--bold " style="letter-spacing:0.5px!important; line-height:.8em; padding:6px 0 2px 0;">
         <span class="text text--xxl">vanaf</span><br>75€
         <br><div class="text--xxl" style="line-height: 1.1em;">one-way</div>
       </div>
      </div>
      <div class="harvey__text text text--xxl text--center">
        <div class=""  >
         <img class="bg--white bv-logo boxpad--md" src="{{site.img}}/logo/transavia.svg">
        </div>
          <div class="space--xxl"></div>
      <div class="title title--md text--bold">Welkom bij Transavia</div>
        <div class="space--md"></div>
      <div class="text text--xxxl">Vind hier je vluchten van Amsterdam naar Funchal met&nbsp;Transavia</div>
        <div class="space--lg"></div>
      <a href="https://www.transavia.com/nl-NL/boek-een-vlucht/vluchten/zoeken/" target="_blank" class="btn btn--bv-pink text--bold" >Vind vluchten</a>

      </div>
    </div>

</div>
