<div class="offer-promo vpad--xxxxl">
  <div class="offer-promo__bgs">
    <div class="offer-promo__bg" style="background-image: url('{{site.img}}/offer-promo/01.jpg')"></div>
    <div class="offer-promo__bg" style="background-image: url('{{site.img}}/offer-promo/02.jpg')"></div>
    <div class="offer-promo__bg" style="background-image: url('{{site.img}}/offer-promo/03.jpg')"></div>
  </div>
  <div class="offer-promo__content">
    <div class="container width width--xxl">
      <div class="text--center">
        <h2 class="title title--xl">Maar dat is nog niet alles...</h2>
        <div class="container container--no-padding container--lg">
          <p class="text text--xxl vpad--xs">We hebben nog veel meer wereldwijde aanbiedingen - voor topprijzen</p>
          <div class="space--sm"></div>
          <a id="track-btn-current-sales" href="{{site.core-se-link}}" class="btn btn--orange">Bekijk het aanbod</a>
        </div>
      </div>
    </div>
  </div>
</div>
