<!-- standard microsite navigation -->
<!-- has a modifier for footer theme, which changes the colour and removes the group nav -->

<!-- pages that appear in the site navigation -->


<div class="site-nav {% if include.theme == "footer" %} site-nav--footer{% endif %}">
  <div class="site-nav__scroll-wrap">
    <div class="site-nav__wrap">
      <!-- loops through all sections within page -->
      {% for section in site.data.sections %}<span class="site-nav__item">

        <a class="site-nav__link site-nav__link--{{section.id}}" href="#{{section.id}}">
          {% if section.nav-title %}
            {{section.nav-title}}
          {% else %}
            {{section.title}}
          {% endif %}
        </a>

      </span>{% endfor %}
      <span class="site-nav__item">
        <a class="site-nav__link site-nav__link--{{site.data.promo.id}}" href="#anreise">Vluchten</a>
      </span>
    <span class="site-nav__item">
        <a class="site-nav__link site-nav__link--offers" href="#offers">Aanbiedingen</a>
      </span>
    </div>
  </div>
</div>
